.testContainer text {
    font-family: Arial;
    font-size: 13px;
    line-height: 1.4em;
}

.testContainer .bounds {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.testContainer .bounds.target {
    stroke: red;
}